/* Hidescollbar.css */
/* .bodyhome {
    height: 100vh;
    overflow: hidden;
    margin: 0;
} */

/* .left-container,
.right-container {
    overflow-y: auto;
    height: calc(100vh - 64px);
    /* Adjust according to your header height */
} */
/* 
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
 */
/* Hidescollbar.css */

/* Existing desktop styles */
.bodyhome {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.left-container,
.right-container {
    overflow-y: auto;
    height: calc(100vh - 64px); /* Adjust according to your header height */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Mobile styles */
@media (max-width: 500px) { /* Adjust breakpoint as needed */
    .bodyhome {
        display: flex !important; 
        flex-direction: column !important;
    }


    .left-container {
        width:100%  !important; /* Hide left-container on mobile */
        height:100% !important;
    }
}

